/* Write some CSS below */
/*grey #404042 */
/*blue #1A48E3 */
/*a hover #CE2FAE*/
/*btn-blue hover #0D1EC6 */
/*
font-family: 'Odibee Sans', cursive;
*/

body {
  background-color: rgb(220, 220, 220);
  font-family: Impact, sans-serif;
  color: #303032;
  margin: 0;
}

h1 {
  font-size: 50px;
  font-weight: 1000;
}

img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.card {
  float: left;
}

.banner {
  background-image: linear-gradient(rgba(255,0,0,0.6),rgba(0,0,0,.6)),url('images/background.jpg');
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
  color: white;
}

.btn {
  background-color: #1A48E3;
  color: white;
  padding: 16px 48px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  background-color: #0D1EC6;
  color: white;
  text-decoration: underline;
  transition: 2s;
}

.container {
  min-width: 80%;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 24px;
}

.card {
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  border-radius: 4px;
  padding: 24px;
  margin: 8px;
  flex-grow: 1;
}


.card img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
}

.footer {
  background: #404042;
  padding: 24px 0;
}

.footer p {
  color: white;
}
